$orange: #EC7357;
$font: 'Arial', serif;

body {
  background: $orange;
  font-family: $font;
}
h1{
    color: #8B0000;
}
form{
    width: 350px;
    background-color: aqua;
}
.btn{
    background-color: aqua;
}
.btn-success{
    color: aquamarine;
}